/*
    LAYOUT STYLES
*/
/*
    row block
*/
.btn-primary {
    background-color: green;
}

.col-md-8--background {
    border: 1px solid blue;
}

.row {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    /*in side the row, we have a container that 
    max-width of 960px and margin: 0 auto*/
    /*min-height: 300px;*/
    /*border: 1px solid red;*/
}

/*Rsoponsive - should alwasy
768px is the ipad's max width*/

/*if max-width is less than 769px,
it will apply the following code for mobile*/
@media all and ( max-width: 769px ){
    .columns {
        display: block;
}

@media print  {
    .nav__item {
        color: black;
    }
}

/*if min-width is greater than 480px,
it will apply the following code for desktop*/
@media all and (min-width: 480px) {
    .nav__item {
        padding: 10px;
        margin: 10px;
        display: inline-block;
    }
}

}